$notosans-fontface-path: "../fonts/Noto/";
@import "notosans-fontface";
@import "hh-colors";

:root {
	font-size: 16px; // base 1rem = 16px
 }

.d1st-hh {
	max-width: 800px;
	font-family: "Noto Sans", sans-serif;
	font-size: 1rem;        //16px
	line-height: 1.8125rem; //29px
	padding: 1.125rem;      //18px
	color: $black;
}
.d1st-hh h1 {
	font-size: 2.0625rem;     //33px
	line-height: 3.375rem;    //54px
	margin-bottom: 1.8125rem; //29px
	color: $dunkelblue;
}
.d1st-hh .title {
	font-size: 	2.625rem;     //42px
	line-height: 4.1875rem;   //67px
	margin-bottom: 1.8125rem; //29px
	color: $dunkelblue;
}
.d1st-hh h2 {
	font-size: 1.5625rem;    //26px
	line-height: 2.75rem;    //44px
	margin-top: 2.9375rem;   //47px
	margin-bottom: 1.125rem; //18px
	color: $dunkelblue;
}
.d1st-hh h3 {
	font-size: 1.25rem;       //20px
	line-height: 2.1875rem;   //35px
	margin-top: 1.8125rem;    //29px
	margin-bottom: 0.6875rem; //11px
	color: $mittelblau;
}
.d1st-hh h4 {
	font-size: 1rem;          //16px
	line-height: 1.8125rem;   //29px
	margin-bottom: 0.4375rem; //7px
	font-weight: bold;
	color: $black;
}
.d1st-hh p, .d1st-hh ul, .d1st-hh ol, .d1st-hh blockquote, .d1st-hh pre, .d1st-hh .alert, .d1st-hh .note, .d1st-hh .box, .d1st-hh .footnotes {
	margin-bottom: 1.8125rem; //29px
}
.d1st-hh ul, .d1st-hh ol {
	margin-left: 1.8125rem; //29px
}
.d1st-hh li {
	margin-bottom: 0.6875rem; //11px
}
.d1st-hh blockquote {
	padding-left: 1.125rem; //18px
	border-style: solid;
	border-color: rgba(0,0,0,0.15);
	border-width: 0 0 0 0.4375rem; //0 0 0 7px
}
.d1st-hh sub, .d1st-hh sup {
	padding: 0 0.0625rem; //0 1px
}
.d1st-hh code, .d1st-hh pre, .d1st-hh kbd {
	font-size: 0.9375rem; //15px
}
.d1st-hh code {
	background-color: rgba(0,0,0,0.08);
	padding: 0.1875rem 0.25rem; //3px 4px
	border-radius: 0.4375rem; //7px
	margin: 0 0.0625rem; //0 1px
}
.d1st-hh pre {
	padding: 11px;
	border-style: solid;
	border-color: rgba(0,0,0,0.15);
	border-width: 0 0 0 0.4375rem; //0 0 0 7px
}
.d1st-hh kbd {
	background-color: #fff;
	padding: 0.1875rem 0.25rem; //3px 4px
	border-radius: 0.25rem; //4px
	box-shadow: 0 0 0.25rem 0 rgba(0,0,0,0.45); //0 0 4px 0
	margin: 0 0.0625rem; //0 1px
}
.d1st-hh .alert, .d1st-hh .note, .d1st-hh .box {
	padding: 1.125rem; //18px
}
.d1st-hh .footnotes {
	font-size: 0.8125rem; //13px
	line-height: 1.5625rem; //25px
	padding-top: 1.125rem; //18px
	border-top: 1px dotted rgba(0,0,0,0.15);
}
.d1st-hh .footnotes p {
	margin-bottom: 1.125rem; //18px;
}
.d1st-hh ul ul, .d1st-hh ul ol, .d1st-hh ol ul, .d1st-hh ol ol, .d1st-hh blockquote.right p, .d1st-hh blockquote.left p, .d1st-hh .alert :last-child, .d1st-hh .note :last-child, .d1st-hh .box :last-child, .d1st-hh .footnotes :last-child {
	margin-bottom: 0;
}
.d1st-hh a {
	color: $mittelblau;
	text-decoration: underline; }

.d1st-hh a:hover {
	color: $highlightblau; }

@media all and (min-width: 858px) {
	.d1st-hh {
		padding: 1.8125rem; //29px
	}
}