@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto//NotoSans-Regular.eot");
  src: local("Noto Sans Regular"), local("NotoSans-Regular"), url("../fonts/Noto//NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto//NotoSans-Regular.woff2") format("woff2"), url("../fonts/Noto//NotoSans-Regular.woff") format("woff"), url("../fonts/Noto//NotoSans-Regular.ttf") format("truetype"), url("../fonts/Noto//NotoSans-Regular.svg#NotoSans-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto//NotoSans-Italic.eot");
  src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("../fonts/Noto//NotoSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto//NotoSans-Italic.woff2") format("woff2"), url("../fonts/Noto//NotoSans-Italic.woff") format("woff"), url("../fonts/Noto//NotoSans-Italic.ttf") format("truetype"), url("../fonts/Noto//NotoSans-Italic.svg#NotoSans-Italic") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto//NotoSans-Bold.eot");
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/Noto//NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto//NotoSans-Bold.woff2") format("woff2"), url("../fonts/Noto//NotoSans-Bold.woff") format("woff"), url("../fonts/Noto//NotoSans-Bold.ttf") format("truetype"), url("../fonts/Noto//NotoSans-Bold.svg#NotoSans-Bold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto//NotoSans-BoldItalic.eot");
  src: local("Noto Sans BoldItalic"), local("NotoSans-BoldItalic"), url("../fonts/Noto//NotoSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Noto//NotoSans-BoldItalic.woff2") format("woff2"), url("../fonts/Noto//NotoSans-BoldItalic.woff") format("woff"), url("../fonts/Noto//NotoSans-BoldItalic.ttf") format("truetype"), url("../fonts/Noto//NotoSans-BoldItalic.svg#NotoSans-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic; }

/*Dataport Theme Colors*/
:root {
  font-size: 16px; }

.d1st-hh {
  max-width: 800px;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.8125rem;
  padding: 1.125rem;
  color: #000; }

.d1st-hh .title {
  font-size: 2.625rem;
  line-height: 4.1875rem;
  margin-bottom: 1.8125rem;
  color: #003064; }

.d1st-hh h1 {
  font-size: 2.0625rem;
  line-height: 3.375rem;
  margin-bottom: 1.8125rem;
  color: #003064; }

.d1st-hh h2 {
  font-size: 1.5625rem;
  line-height: 2.75rem;
  margin-top: 2.9375rem;
  margin-bottom: 1.125rem;
  color: #003064; }

.d1st-hh h3 {
  font-size: 1.25rem;
  line-height: 2.1875rem;
  margin-top: 1.8125rem;
  margin-bottom: 0.6875rem;
  color: #005FA9; }

.d1st-hh h4 {
  font-size: 1rem;
  line-height: 1.8125rem;
  margin-bottom: 0.4375rem;
  font-weight: bold;
  color: #000; }

.d1st-hh p, .d1st-hh ul, .d1st-hh ol, .d1st-hh blockquote, .d1st-hh pre, .d1st-hh .alert, .d1st-hh .note, .d1st-hh .box, .d1st-hh .footnotes {
  margin-bottom: 1.8125rem; }

.d1st-hh ul, .d1st-hh ol {
  margin-left: 1.8125rem; }

.d1st-hh li {
  margin-bottom: 0.6875rem; }

.d1st-hh blockquote {
  padding-left: 1.125rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0 0 0 0.4375rem; }

.d1st-hh sub, .d1st-hh sup {
  padding: 0 0.0625rem; }

.d1st-hh code, .d1st-hh pre, .d1st-hh kbd {
  font-size: 0.9375rem; }

.d1st-hh code {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0.1875rem 0.25rem;
  border-radius: 0.4375rem;
  margin: 0 0.0625rem; }

.d1st-hh pre {
  padding: 11px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0 0 0 0.4375rem; }

.d1st-hh kbd {
  background-color: #fff;
  padding: 0.1875rem 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.45);
  margin: 0 0.0625rem; }

.d1st-hh .alert, .d1st-hh .note, .d1st-hh .box {
  padding: 1.125rem; }

.d1st-hh .footnotes {
  font-size: 0.8125rem;
  line-height: 1.5625rem;
  padding-top: 1.125rem;
  border-top: 1px dotted rgba(0, 0, 0, 0.15); }

.d1st-hh .footnotes p {
  margin-bottom: 1.125rem; }

.d1st-hh ul ul, .d1st-hh ul ol, .d1st-hh ol ul, .d1st-hh ol ol, .d1st-hh blockquote.right p, .d1st-hh blockquote.left p, .d1st-hh .alert :last-child, .d1st-hh .note :last-child, .d1st-hh .box :last-child, .d1st-hh .footnotes :last-child {
  margin-bottom: 0; }

.d1st-hh a {
  color: #005FA9;
  text-decoration: underline; }

.d1st-hh a:hover {
  color: #2B88D8; }

@media all and (min-width: 858px) {
  .d1st-hh {
    padding: 1.8125rem; } }
